/*
  ========================================
  Grid
  ========================================
*/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font: 300 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 830px;
  max-height: 1472px;
  min-height: 830px;
}

.container,
.grid {
  margin: 0 auto;
  max-width: 100%;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
}

.col-1-3 {
  width: 33.33%;
}

.col-2-3 {
  width: 66.66%;
}

.col-1-3,
.col-2-3 {
  display: inline-block;
  vertical-align: top;
}

.grid,
.col-1-3,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  width: 960px;
  margin: 0 auto;
  position: relative;
  z-index: 9999;
  text-align: center;
}

.nav-menu {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, .2)), color-stop(0.05, rgba(0, 0, 0, 0)), color-stop(0.97, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .45))), -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, .2)), color-stop(0.002, rgba(0, 0, 0, 0)), color-stop(0.998, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .2))), -webkit-gradient(linear, 0 100%, 0 0, from(#666), color-stop(0.5, #5e5e5e), color-stop(0.51, #707070), to(#808080));
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  position: fixed;
  top: 58px;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

ul li {
  float: left;
  max-width: 100%;
}

ul li a {
  color: #fff;
  display: block;
  height: 36px;
  margin: 0;
  text-decoration: none;
  padding: 8px 30px;
  border-style: solid;
  border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAQAAABTNcdGAAAAEUlEQVQIHWP4r8bA8F%2BKwQEADZUCf37PGokAAAAASUVORK5CYII%3D) 0 2 0 1;
  border-width: 0 2px 0 1px;
}

.logo a {
  background-image: url(../images/apple-logo.svg);
  background-position: top;
  text-indent: -99909px;
}

.search {
  margin: 8px 20px 0 20px;
}

.search input {
  background: url(../images/icon-search.svg) no-repeat;
  background-position: 4px 5px;
}

.search-input {
  width: 100px;
  height: 20px;
  border-radius: 8px;
  border: none;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0, rgba(255, 255, 255, 0.2) 0 1px 0;
  background-color: rgba(255, 255, 255, 0.1);
}

.hero {
  background: url(../images/your_verse_hero.jpg) center bottom no-repeat;
  background-size: cover;
  bottom: 0;
  left: 0;
  max-height: 600px;
  position: absolute;
  right: 0;
  top: 0;
}

.hero-text {
  color: #fff;
  text-align: center;
  margin: 170px auto;
  width: 50%;
  max-width: 100%;
  text-decoration: none;
}

.hero-text h1 {
  background: url(../images/what_will_your_verse_be.png) no-repeat;
  background-size: cover;
  height: 5rem;
  text-indent: -9999px;
}

.hero-text h2 {
  background: url(../images/everyone_has_something_to_share.png) no-repeat;
  background-size: contain;
  height: 82px;
  text-indent: -9999px;
}

.hero-text a {
  background: url(../images/your_verse.png) top no-repeat;
  display: block;
  height: 30px;
  text-indent: -9999px;
}

/* .hero {
  background: #fff;
  background: -webkit-linear-gradient(right, #fff, #efefef);
  background: -moz-linear-gradient(right, #fff, #efefef);
  background: linear-gradient(to right, rgb(255, 255, 255), #bdbcbc);

  /* background: url(../images/your_verse_scrim.png) 0 50% repeat-x; */
